<!DOCTYPE html>
<html lang="en">

<head></head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/d4fe87d88c.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/the-Good-Kitchen/stylesheets/style.css" />
<link rel="stylesheet" href="/the-Good-Kitchen/stylesheets/header.css" />
<script src="/javascripts/header.js"></script>
<title>Header</title>
</head>

<body>
    <div class="navbar-flexbox" id="navbar">

        <div class="hamburger">
            <!-- <a href="#" class="toggle-button "> -->
            <span class="bar"> </span>
            <span class="bar"> </span>
            <span class="bar"> </span>
            <!-- </a> -->
        </div>
        <div id="logo">
            <a href="<%=baseUrl%>">
                <h1>The g<span class="title-span">oo</span>d Kitchen</h1>
            </a>
        </div>

        <div class="search-wrapper">
            <form class="search-form" action="<%=baseUrl%>/recipes/search" method="POST">
                <div class="search-bar-container">
                    <label class="search-label" for="search"></label>
                    <div id="search-input-icon-container">
                        <input class="search-input" type="search" name="search" id="search" placeholder="What would you like to cook?">
                        <div class="search-icon-container">
                            <i class="search-icon fa-lg fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>

                <div class="search-btn-container">
                    <input class="search-submit" type="submit" value="Search">
                </div>
            </form>
        </div>

        <div class="navigation-list-dropdown noDisplay">

            <div class="navbar-links">
                <ul>
                    <li><a href="<%=baseUrl%>">Home</a></li>
                    <li><a href="<%=baseUrl%>/recipes/list">All recipes</a></li>
                    <li><a href="<%=baseUrl%>/recipes/create">Upload a recipe</a></li>
            </div>
            <% if(locals.islogged) { %>
                <div class="userLogged-links dropdown">
                    <button class="dropdown-btn">
                        <% if(locals.userLogged) { %>
                            <img class="user-image-miniature" src="<%=userLogged.image != null && userLogged.image != "" ? userLogged.image : " https://i.imgur.com/blQ7wCm.png" %>">
                            Hey user
                    </button>
                    <div class="dropdown-content">
                        <li><a href="<%=baseUrl%>/user/profile">My profile</a></li>
                        <li><a href="<%=baseUrl%>/user/logout">Logout</a></li>
                    </div>
                </div>
                <%}%>
                    <% } else { %>
                        <div class="user-links dropdown">
                            <li><a href="<%=baseUrl%>/user/login">Login</a></li>
                            <li><a href="<%=baseUrl%>/user/register">Register</a></li>
                        </div>
                        <% } %>
                            </ul>
        </div>
    </div>
</body>

</html>