<!--I want to show ingredients in detail, not at begining -->

<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <title>Home</title>
</head>

<body>
  <%- include("partials/header.ejs") %>
    <div class="body-information">
      <section class="introduction">
        <h3>Upload your recipe and share it with the world!</h3>
        <p class="welcome-text">Tell us all about your self through your recipes
        <p class="cake">&#127856</p>
        </p>
      </section>
      <section class="recipe-examples">
        <h3>Our users have told us their story</h3>
        <p>Check out the most recent uploads</p>

        <% recipes.forEach(function(recipe) {%>
          <div class="recentUpload">
            <h4>
              <%=recipe.title %>
            </h4>
            <img class="recipe-image" src="/images/<%= recipe.image %>">
            <p>
              <%=recipe.description %>
            </p>
            <a class="detail-link" href="#">Check out the full recipe...</a>
          </div>
          <% }) %>

      </section>
    </div>
    <%- include("partials/footer.ejs") %>
</body>

</html>