<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script src="https://kit.fontawesome.com/ae0153af6c.js" crossorigin="anonymous"></script>
    <title>Help</title>
</head>

<body>
    <%- include("partials/header.ejs") %>
        <main>
            <section class="main-section">
                <div class="body-information">
                    <h1 class="title">Log in</h1>
                </div>
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%=errors.email.msg %>
                    </div>
                    <% } %>
                        <% if (locals.success && success.delete) { %>
                            <div class="text-success">
                                <%=success.delete.msg %>
                            </div>
                            <% } %>

                                <% if (locals.errors && errors.LoggedToComment) { %>
                                    <div class="text-danger">
                                        <%=errors.LoggedToComment.msg%>
                                    </div>
                                    <% } %>
                                        <% if (locals.errors && errors.successful) { %>
                                            <div class="text-success">
                                                <%=errors.successful.msg%>
                                            </div>
                                            <% } %>

                                                <div class="form-container">
                                                    <form class="login-form" action="/user/login" method="POST">
                                                        <label for="">Email</label>
                                                        <input type="email" name="email">
                                                        <div class="errors-container">
                                                        </div>
                                                        <label for="">Password</label>
                                                        <input type="password" name="password">
                                                        <label>
                                                            <input type="checkbox" name="rememberUser"> Recordar mi usuario
                                                        </label>
                                                        <p>Got no user? <a class="register-now" href="/user/register">Register now!</a></p>
                                                        <button type="submit" value="Login">Login</button>
                                                    </form>
                                                </div>

            </section>
        </main>
        <%- include("partials/footer.ejs") %>
</body>

</html>