<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/product-detail.css' />
    <title>Home</title>
    <script src="/javascripts/product-detail.js"></script>
</head>

<body>
    <%- include("partials/header.ejs") %>
        <main>
            <div class="body-information">
                <section class="introduction">
                    <% if(locals.recipe) { %>
                        <h3>
                            <%=recipe.title %>
                        </h3>
                </section>
                <div class="description-hyperlink">
                    <p>
                        <%=recipe.description %>
                    </p>
                </div>
                <section class="recipe-examples">
                    <div class="container">
                        <div class="OneProductContainer">
                            <div class="image-container"><img class="OneRecipeImage" src="/images/<%= recipe.image %>"></div>


                            <div class="ingredients">
                                <ul class="ingredients-list">
                                    <p class="ingredients-title">Ingredients:</p>
                                    <% for(let i=0; i < recipe.Ingredients.length; i++ ){ %>
                                        <li>
                                            <%= recipe.Ingredients[i] %>
                                        </li>
                                        <% } %>
                                </ul>
                            </div>

                            <div class="directions">

                            </div>

                            <% if(locals.userLoggedEmail){ %>
                                <% if(userLoggedEmail==recipe.belongsTo) { %>
                                    <div class="buttons">
                                        <div>
                                            <a href="/recipes/edit/<%=recipe.id%>"><button type="submit">Edit</button></a>
                                        </div>
                                        <div>
                                            <form action="/recipes/delete/<%=recipe.id%>?_method=DELETE" method="POST">
                                                <button type="submit" onclick="return confirm('This action can´t be undone, are you sure you want to delete this item?');">
                                                    Delete
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
                        </div>
                    </div>
                </section>
                <% } %>


                    <div class="comment-section-container">
                        <div class="comment-section">
                            <div class="comments-header">
                                <h4>Reviews (total amount of reviews calculated)</h4>
                                <span></span>
                                <span></span>
                            </div>
                            <% if(locals.comments) { %>
                                <% for(let comment of comments) {%>
                                    <% for(let user of allUsers){ %>
                                        <% if(user.email==comment.belongsTo){ %>
                                            <div class="user-comment-container">
                                                <img class="user-comment-image" src="/images/userImages/<%= user.image %>" alt="user-image">
                                                <% } %>
                                                    <% } %>
                                                        <p class="comment-belongsTo">
                                                            <%=comment.belongsTo %>
                                                        </p>
                                                        <p class="comment-userComment">
                                                            <%=comment.userComment%>
                                                        </p>
                                            </div>
                                            <% } %>
                                                <% } %>
                        </div>

                        <div class="comment-form-container">
                            <% if(locals.errors) { %>
                                <p class="text-danger">
                                    <%= errors.mustWaitToComment.msg %>
                                </p>
                                <% } %>
                                    <form class="comment-form" action="/recipes/comments/<%=recipe.id%>" method="POST">
                                        <textarea name="comments" id="" cols="30" rows="10" placeholder="What do you think about this recipe?"></textarea>
                                        <!-- <input type="text" name="comments" placeholder="What do you think about this recipe?"> -->
                                        <button type="submit">Send</button>
                                    </form>

                        </div>
                    </div>

                    <!-- </section>
            </div> -->
        </main>
        <%- include("partials/footer.ejs") %>
</body>

</html>