<!-- For this view, i need a filter system on the top-->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/product-list.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital@1&display=swap" rel="stylesheet">

    <title>Document</title>
</head>




<body>
    <%- include("partials/header.ejs") %>
        <main>
            <div class="body-information">
                <div class="banner-container">
                    <img class="banner-img" src="/images/AllProductsImage.jpeg" alt="banner-with-quote">
                </div>
                <section class="introduction">

                    <!-- <div class="search-wrapper">

                        <form action="/recipes/search" method="POST">
                            <label for="search"></label>
                            <input class="search-input" type="search" name="search" id="search">
                            <input type="submit">
                        </form>



                    </div> -->
                    <div class="title-image-container">
                        <h3>Check out all of our recipes </h3>
                        <img class="cooking-pot-image" src="/images/casserole-pot.webp" alt="cooking-pot-image">
                    </div>

                </section>
                <section class="recipe-examples">


                    <div class="container container-fix">

                        <% for (let recipe of recipes) {%>
                            <div class="product-container" data-user-cards-container>

                                <div class='imageContainer'>
                                    <a href="/recipes/detail/<%=recipe.id%>"> <img class="recipe-image" src="/images/<%= recipe.image %>"></a>
                                    <% if(locals.userLogged){ %>
                                        <% if(userLogged.id==recipe.belongsTo) {%>
                                            <a class="edit-icon" href="/recipes/edit/<%=recipe.id%>">Edit my recipe<i class="fa-solid fa-pen"></i></a>
                                            <% } %>
                                                <% } %>
                                                    <div class="image-avg-container">
                                                        <% if(recipe.ratingAvg> 0) { %>
                                                            <div class="AVGrating">
                                                                <div>
                                                                    <h5>
                                                                        <%= recipe.ratingAvg %> / 5 <i class="colorGold fa-lg fa-solid fa-star"></i>
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                            <% }%>
                                                    </div>
                                </div>
                                <div class="description-hyperlink">
                                    <h6 class="recipe-title">
                                        <%=recipe.title %>
                                    </h6>
                                    <a class="detail-link noShow" href="/recipes/detail/<%=recipe.id%>">Check out the full recipe...</a>

                                    <% for(let user of allUsers) { %>
                                        <% if(user.id==recipe.belongsTo) {%>
                                            <div class="user-product-container">
                                                <img class="user-product-thumbnail" src="/images/userImages/<%=user.image %>" alt="user-image">
                                                <div class="user-product-container-userDetails">
                                                    <p class="user-product-username">
                                                        <%=user.name %>
                                                    </p>
                                                    <p>Community member</p>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% } %>

                                </div>
                            </div>
                            <% } %>
                    </div>

                    <!-- </section> -->
            </div>
        </main>
        <%- include("partials/footer.ejs") %>

</body>

</html>