<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/product-detail.css' />
    <title>Home</title>
</head>

<body>
    <%- include("partials/header.ejs") %>
        <main>
            <div class="body-information">
                <section class="introduction">
                    <% if(locals.recipe) { %>
                        <h2>
                            <%=recipe.title %>
                        </h2>
                </section>
                <section class="recipe-examples">
                    <div class="container">
                        <div class="OneProductContainer">
                            <img class="OneRecipeImage" src="/images/<%= recipe.image %>">
                            <div class="description-hyperlink">
                                <p>
                                    <%=recipe.description %>
                                </p>
                            </div>
                            <div class="ingredients">
                                <ul class="ingredients-list">
                                    <p class="ingredients-title">Ingredients:</p>
                                    <% for(let i=0; i < recipe.Ingredients.length; i++ ){ %>
                                        <li>
                                            <%= recipe.Ingredients[i] %>
                                        </li>
                                        <% } %>
                                </ul>
                            </div>

                            <% if(locals.userLoggedEmail){ %>
                                <% if(userLoggedEmail==recipe.belongsTo) { %>
                                    <div class="buttons">
                                        <div>
                                            <a href="/recipes/edit/<%=recipe.id%>"><button type="submit">Edit</button></a>
                                        </div>
                                        <div>
                                            <form action="/recipes/delete/<%=recipe.id%>?_method=DELETE" method="POST">
                                                <button type="submit">
                                                    Delete
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <% } %>
                                        <% } %>
                        </div>
                    </div>
                </section>
                <section class="product-discussion-container">

                    <form action="/recipes/detail/<%=recipe.id%>" method="POST">
                        <textarea name="comments" style="font-family:sans-serif;font-size:1.2em;" placeholder="What do you think about this recipe ?  ">
                        </textarea>
                        <input type="submit" value="submit">
                    </form>
                    <% } %>

                        <% if(locals.comments) { %>
                            <% for(let comment of comments) {%>
                                <div class="comment section">
                                    <div class="user-comment">
                                        <p>
                                            <%=comment.belongsTo %>
                                        </p>
                                        <p>
                                            <%=comment.userComment%>
                                        </p>
                                    </div>
                                </div>
                                <% } %>
                                    <% } %>

                </section>
            </div>
        </main>
        <%- include("partials/footer.ejs") %>
</body>

</html>