<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' href='<%= process.env.NODE_ENV === "production" ? "/the-good-kitchen/" : "/" %>stylesheets/style.css' />
    <link rel='stylesheet' href='<%= process.env.NODE_ENV === "production" ? "/the-good-kitchen/" : "/" %>stylesheets/register.css' />
    <script src="https://kit.fontawesome.com/ae0153af6c.js" crossorigin="anonymous"></script>
    <script src='<%=process.env.NODE_ENV === "production" ? "/the-good-kitchen/" : "/" %>javascripts/user-create.js'></script>
    <title>Help</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
        <main>
            <section class="main-section">
                <div class="body-information">
                    <h1 class="title">Create a user</h1>


                    <div class="form-container">
                        <form class="register-form" action="<%=baseUrl%>/user/register" enctype="multipart/form-data" method="POST">
                            <div class="name-email-pass-container">
                                <label for="name">Name</label>
                                <% if (locals.errors && errors.name) { %>
                                    <div class="error-msg">
                                        <%=errors.name.msg%>
                                            <%=errors.errorLogin%>
                                    </div>
                                    <% } %>
                                        <input type="text" name="name" class="form-control <%= locals.errors && errors.name ? ' is-invalid ' : '' %>" value="<%=locals.oldData && oldData.name ? oldData.name : '' %>">
                                        <label for="email">Email</label>
                                        <% if (locals.errors && errors.email) { %>
                                            <div class="error-msg">
                                                <%=errors.email.msg%>
                                            </div>
                                            <% } %>
                                                <input type="email" name="email" class="form-control <%= locals.errors && errors.email ? 'is-invalid ' : '' %>" id="validationCustom01" value="<%= locals.oldData && oldData.email ? oldData.email : "" %>">
                                                <label for="password">Password</label>
                                                <% if (locals.errors && errors.password) { %>
                                                    <div class="error-msg">
                                                        <%=errors.password.msg%>
                                                    </div>
                                                    <% } %>
                                                        <input type="password" name="password" class="form-control <%= locals.errors && errors.password ? 'is-invalid ' : '' %>">
                            </div>

                            <div class="image-container-flex">
                                <div class="image-upload-container">
                                    <label class="user-image-label" for="image">Image (optional)</label>
                                    <img class="product-preview"></img>
                                    <input class="user-image-input" src="" type="file" name="image">
                                </div>
                            </div>
                            <div class="register-button-container"><button type=" submit">Register</button></div>
                        </form>
                    </div>

                </div>


            </section>
        </main>
        <%- include('partials/footer.ejs') %>
</body>

</html>