<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/user-profile.css' />
    <script src="/javascripts/user-profile.js"></script>
    <script src="https://kit.fontawesome.com/ae0153af6c.js" crossorigin="anonymous"></script>
    <title>Help</title>
</head>

<body>
    <%- include("partials/header.ejs") %>
        <main>
            <section class="main-section">
                <div class="body-information">
                    <div class="user-details">

                        <% if(locals.user) { %>
                            <div class="image-text-container">
                                <form class="edit-image-form" action="/user/profile/?_method=PUT" enctype="multipart/form-data" method="POST">

                                    <label>
                                        <% if (locals.errors && errors.name) { %>
                                            <div class="error-msg">
                                                <%=errors.name.msg%>
                                            </div>
                                            <% } %>
                                                <h3 class="username-input-container">Welcome <input class="username-input" type="text" name="name" value="<%= user.name %>"><i class="noShow fa-solid fa-pen-to-square"></i></h3>
                                    </label>
                                    <label for="image" name="image"></label>
                                    <input id="imageInput" class="image-input" name='image' type="file">
                                    <div class="input-image-form-container">
                                        <div class="image-container">
                                            <img class="user-image" src="<%= user.image != null ? user.image : '../../images/user-default.png' %>" alt="default-user-image">

                                        </div>

                                    </div>
                                    <% if (locals.errors && errors.email) { %>
                                        <div class="error-msg">
                                            <%=errors.email.msg%>
                                        </div>
                                        <% } %>
                                            <p class="user-email-container"><input class="user-email" type="email" name="email" value="<%= user.email %>"><i class="noShow fa-solid fa-pen-to-square"></i></p>
                                            <div class="btn-form-container">
                                                <button class="submitFormBtn noDisplay" type="submit">Save changes</button>
                                                <button class="clearFormBtn noDisplay" type="reset">Clear changes</button>
                                            </div>
                                </form>

                                <!-- <form class="edit-image-form" action="/user/profile" enctype="multipart/form-data" method="POST">
                                    <label for="image" name="image"> upload an image
                                        <input id="imageInput" class="image-input" name="image" type="file">
                                        <button type="submit">submit </button>
                                </form> -->

                                <div class="text-container">
                                    <h4>Change image</h4>
                                </div>
                            </div>

                            <% } %>
                                <div class="check-uploaded-recipes-container">
                                    <p>Check out or modify my <a href="/user/profile/myRecipes">uploaded recipes</a></p>
                                    <% if(locals.errors && errors.noRecipes){ %>
                                        <p class="noRecipesError text-danger">
                                            <%= errors.noRecipes.msg %>
                                        </p>
                                        <% } %>
                                </div>
                                <p><a class="logout" href="/user/logout">Logout</a></p>
                                <!-- <p><a class=" account-delete" href="/delete" onclick="return confirm('This action can´t be undone, are you sure you want to delete this item?')">Delete my account</a></p> -->
                                <form action="/user/delete/?_method=DELETE" method="POST">
                                    <button class="delete-user" type="submit" onclick="return confirm('This action can´t be undone, are you sure you want to delete your profile?')">
                                        Delete account
                                    </button>
                                </form>

                                <!-- ^^ This on edit ^^-->


                    </div>
                </div>
            </section>
        </main>

        <%- include("partials/footer.ejs") %>
</body>

</html>